body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffffff66, #000000), 
    url(../img/Banner.jpg) no-repeat center center/cover;
}
/*Menu no topo da página*/
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    min-height: 100px;
    background-color: #32997f;
    color: #9afcff;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
header h1 {
    font-size: 40px;
}

header ul {
    list-style: none;
    display: flex;
}

header li {
    margin: 20px;
}

header a {
    color: #9afcff;
    text-decoration: none;
    font-weight: 800;
    border: 10px;
    transition: 0.5s;
}
header a:hover {
    color: white;
}
/*Botão Modo Tema Escuro*/
#btnMudarTema{
    background-color: #00000000;
    color: #9afcff;
    text-decoration: none;
    font-weight: 800;
    border: 10px;
}
#btnMudarTema:hover{
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.container{
    display: flex;
    flex-direction: column;
    height: 89%;  
}

main{
    flex: 1;
    padding-top: 100px;
}

.mhome nav{ 
    justify-content: center;
    width: 90%;
    margin: 50px auto;
}

.mhome h1{
    font-size: 35px;
}

.mhome ul {
    justify-content: center;
    list-style: none;
    display: flex;
    padding: 0%;
}

.mhome li {
    font-size: auto;
    justify-content: center;
    display: flex;
    color: #000000;
    margin-top: 0%;
    width: 70%;
    text-decoration: none;
    font-weight: 800;
}

.mhome a {
    color: #32997f;
    border: 4px solid white;
    background-color: white;
    text-decoration: none;
    padding: 6px;
    font-weight: 800;
    transition: 0.5s;
}

.mhome a:hover {
    background-color: #32997f;
    border: 4px solid white;
    padding: 6px;
    color: white;
}

.ci{
    border: 5px solid white;
    background-color: #32997f;
}
.ci h1{
    color: #ffffff;
}
.ci img{
    width: 0px auto;
    height: 300px ;
    border: 5px solid white;
}
.ci p{
    display: flex;
    align-items: center;
    margin: 5px;
    color: #ffffff;
}
footer {
    font-size: 15px;
    width: 100%;
    min-height: 100px;
    background-color: #000000;
    color: white;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

body.dark-theme{
    background-color: #110e24;
}
body.dark-theme header{
    background: linear-gradient(to bottom, #292258, #06050c);
}
body.dark-theme .mhome a {
    color: #221d49;
    border: 4px solid #9afcff;
    background-color: #9afcff;
}
body.dark-theme .mhome a:hover {
    background-color: #221d49;
    border: 4px solid #9afcff;
    color: #9afcff;
}
body.dark-theme .ci{
    background-color: #221d49;
    border: 5px solid #18162b;
}
body.dark-theme .ci h1{
    color: #9afcff;
}
body.dark-theme .ci img{
    border: 5px solid #18162b;
}