html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #110e24;
}
/*Menu no topo da página*/
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    min-height: 100px;
    background-color: #332f4d;
    color: #00cada;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
header img{
    width: 100px;
    height: 100px auto;
}
header h1 {
    font-size: 40px;
}

header ul {
    list-style: none;
    display: flex;
}

header li {
    margin: 20px;
}

header a {
    color: #00cada;
    text-decoration: none;
    font-weight: 800;
    border: 10px;
    transition: 0.5s;
}

header a:hover {
    color: #ffffff;
}
/*Banner do evento*/
.banner{
    padding-top: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 1)), 
    url(../img/Banner.jpg) no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner h1{
    font-size: 48px;
    color: #00cada;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 20px;
}
/*Cards da página*/
.intro{
    border: 10px solid #221f33;
    background-color: #332f4d;
    width: 70%;
    margin: 50px auto;
}
.intro h1{
    text-align: center;
    font-size: 36px;
    color: #00cada;
}   
.intro p{
    color: #bbbbbb;
    font-size: 20px;
    margin-inline: 10%;
}
.intro b{
    color: white;
}
.intro nav{
    color: #bbbbbb;
    font-size: 20px;
    margin-inline: 8%;
}
/*footer*/
footer{
    font-size: 15px;
    width: 100%;
    min-height: 100px;
    background-color: #000000;
    color: white;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

