body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #32997f;
}
/*Menu no topo da página*/
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 100px;
    background-color: #32997f;
    color: #9afcff;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
header img{
    width: 50px;
    height: 50px auto;
}
header h1 {
    font-size: 40px;
}

header ul {
    list-style: none;
    display: flex;
}
.pc{
    display: flex;
}
.mobile{
    display: flex;
}
header li {
    margin: 20px;
}

header a {
    color: #9afcff;
    text-decoration: none;
    font-weight: 800;
    border: 10px;
    transition: 0.5s;
}
header a:hover {
    color: white;
}
header button {
    color: #9afcff;
    text-decoration: none;
    font-weight: 800;
    font-size: 15px;
    border: 10px;
    transition: 0.5s;
}
header button:hover {
    color: white;
}
/*Versão PC*/
@media(min-width:770px){
    .mobile{
        display: none;
    }
    .pc .banner{
        height: 400px;
        width: 100%;
    }
}
/*Versão PC tela pequena*/
@media(max-width:799px){
    header img{
        display: none;
    }
}
/*Versão Mobile*/
@media(max-width:769px){
    .pc{
        display: none;
    }
    .mobile .banner{
        height: 200px;
        width: 100%;
    }
    header button{
        font-size: 20px;
    }
    header img{
        display: block;
    }
}
/*Botão Modo Tema Escuro*/
#btnMudarTema{
    background-color: #00000000;
    color: #9afcff;
    text-decoration: none;
    font-weight: 800;
    border: 10px;
}
#btnMudarTema:hover{
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
/*Banner do evento*/
.banner{
    padding-top: 100px;
    background: linear-gradient(to bottom, #ffffff66, #000000), 
    url(../img/Banner.jpg) no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner h1{
    font-size: 48px;
    color: #9afcff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 20px;
}
.banner p{
    font-size: 20px;
    margin: 25px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.banner a{
    color: #ffffff;
    border: 4px solid #ffffff;
    background-color: #00000000;
    padding: 8px;
    text-decoration: none;
    font-weight: 800;
}
.banner a:hover {
    background-color: #acacac80;
    border: 4px solid #acacac;
    color: white;
    transition: 0.5s;
}
/*calculadora*/
.intro{
    border: 10px solid white;
    background-color: #00000000;
    width: 70%;
    margin: 50px auto;
}
hr{
    border: 2px solid white;
}
.intro h1{
    text-align: center;
    font-size: 36px;
    color: #9afcff;
}   
.intro h2{
    text-align: center;
    margin: 50px;
    font-size: 30px;
    color: white;
}  
.intro p{
    color: #ffffff;
    font-size: 20px;
    margin-inline: 10%;
    text-align: center;
}
.intro b{
    color: white;
}
.intro form{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.intro label{
    color: white;
    margin: 10px;
    font-size: 15px;
}
.intro input{
    padding: 10px;
    margin: 5px;
    border: 1px solid #dddddd;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.intro form .btn{
    color: #32997f;
    border: 4px solid #ffffff;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 800;
}
.intro form .btn:hover{
    background-color: #32997f;
    border: 4px solid #ffffff;
    color: white;
    transition: 0.5s;
}
.intro ul {
    padding: 0;
}
.intro li{
    list-style: none;

}
/*Páginas de cada pergunta*/
form div {
    display: none;
}

form div.active {
    display: block;
}
/*Resultado*/
.q7 h3{
    text-align: center;
    font-size: 36px;
    color: #9afcff;
}   
.q7 h4{
    text-align: center;
    font-size: 36px;
    color: #9afcff;
}   
.q7 p{
    color: #dddddd;
    font-size: 20px;
    margin-inline: 10%;
    text-align: justify;
}
.q7 li{
    color: #dddddd;
    font-size: 20px;
    margin-inline: 10%;
    text-align: justify;
    list-style: circle;
    margin-top: 20px;
}

/*Pagina das empresas Parceiras e da idealizadora*/
.Parceiras{
    border: 10px solid white;
    background-color: #00000000;
    width: 70%;
    margin: 50px auto;
}
.Parceiras h1{
    text-align: center;
    font-size: 36px;
    color: white;
}   

.Parceiras nav{
    font-size: 20px;
    margin-inline: 8%;
    justify-content: center;
    width: 75%;
    margin: 20px auto;
}
.Parceiras ul {
    justify-content: center;
    list-style: none;
    display: flex;
    padding: 0%;
}

.Parceiras li {
    font-size: auto;
    justify-content: center;
    display: flex;
    margin-top: 0%;
    width: 70%;
    text-decoration: none;
    padding: 10px;
}
.Parceiras img{
    width: 0px auto;
    height: 90px ;
}
.img2 img{
    width: 0px auto;
    height: 60px ;
}
/*footer*/
footer{
    font-size: 15px;
    width: 100%;
    min-height: 100px;
    background-color: #000000;
    color: white;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Tema Escuro*/
body.dark-theme{
    background-color: #110e24;
}
body.dark-theme hr{
    border: 2px solid #443e66;
}
body.dark-theme header{
    background: linear-gradient(to bottom, #292258, #06050c);
}
body.dark-theme .intro{
    border: 10px solid #443e66;
    background: linear-gradient(to bottom, #292258, #06050c);
}
body.dark-theme .intro h1{
    color: #9afcff;
}
body.dark-theme .intro b{
    color: #9afcff;
}
body.dark-theme .Parceiras h1{
    color: #9afcff;
}
body.dark-theme .Parceiras{
    border: 10px solid #443e66;
    background: linear-gradient(to bottom, #292258, #06050c);
}
body.dark-theme .modal-content{
    background: linear-gradient(to bottom, #292258, #06050c);
}
body.dark-theme .intro form .btn{
    color: #000000;
    border: 4px solid #9afcff;
    background-color: #9afcff;
}
body.dark-theme .intro form .btn:hover{
    color: #9afcff;
    border: 4px solid #9afcff;
    background-color: #00000000;
    transition: 0.5s;
}
body.dark-theme .menu-content{
    background: linear-gradient(to bottom, #292258, #06050c);
}

/*Menu da versão mobile*/
.mn{
    display: none;
    position: fixed;
    z-index: 1; 
    top: 0;
    right: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto; 
}
.menu-content{
    background-color: #38ac8f;
    width: 300px;
    height: 100%; 
    padding: 20px;
    box-sizing: border-box;
    position: absolute; 
    top: 0;
    right: 0; 
}
.menu-content nav{ 
    text-align: center;
}
.menu-content ul{
    padding-left: 0px;
}
.menu-content li{
    list-style: none;
    padding-top: 60px;
}
.menu-content h2{
    font-size: 40px;
    color: #9afcff;
}
.menu-content a{
    color: #9afcff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    border: 10px;
    transition: 0.5s;
}
.menu-content button{
    font-size: 20px;
}